<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="channel">
    <th mat-header-cell *matHeaderCellDef> Channel </th>
    <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="mute">
    <th mat-header-cell *matHeaderCellDef> Mute </th>
    <td mat-cell *matCellDef="let element">
      <!-- <button (click)=" muteSound()" mat-button class="center-button">Mute</button> -->
      <mat-slide-toggle [(ngModel)]="element.mute"></mat-slide-toggle>
      <div>{{element.mute}}</div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" [ngClass]="{
      highlight: selectedRowIndex == i,
      highlight1: selectedRowIndex1 == i,
      highlight2: selectedRowIndex2 == i,
      highlight3: selectedRowIndex3 == i,
      highlight4: selectedRowIndex4 == i,
      highlight5: selectedRowIndex5 == i,
      highlight6: selectedRowIndex6 == i,
      highlight7: selectedRowIndex7 == i,
      highlight8: selectedRowIndex8 == i}"></tr>

</table>
