table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.center-button{
  margin-left: auto;
  margin-right: auto;
}

.mat-row:nth-child(odd) .mat-cell {
  background-color: #eee;
}

.mat-row.highlight .mat-cell {
  background-color: #ec7943;
}
.mat-row.highlight1 .mat-cell {
  background-color: #f7c258;
}
.mat-row.highlight2 .mat-cell {
  background-color: #e9f65a;
}
.mat-row.highlight3 .mat-cell {
  background-color: #d7f462;
}
.mat-row.highlight4 .mat-cell {
  background-color: #68dd48;
}
.mat-row.highlight5 .mat-cell {
  background-color: #4ee092;
}
.mat-row.highlight6 .mat-cell {
  background-color: #52d5ec;
}
.mat-row.highlight7 .mat-cell {
  background-color: #4399fb;
}
.mat-row.highlight8 .mat-cell {
  background-color: #b748fb;
}




